<div class="container">

	<div ng-if="error">
	    <b>Ops!</b> Something is wrong here... :(
	</div>

	<div class="row">
		
		<table class="table table-bordered table-hover">
			<th width="150">State</th>
			<th width="200">From</th>
			<th>To</th>
			<tr ng-repeat="data in datum">
				<td><a ng-href="/#/anp/data/{{data._id}}">{{data.name}}</a></td>
				<td>{{data.dates.from | date:'yyyy/MM/dd'}}</td>
				<td>{{data.dates.to | date:'yyyy/MM/dd'}}</td>
			</tr>
		</table>
	</div>
</div>