<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Softruck</h1>
        <p>This is a simple design to show how you can interate with data using <b>Node.js</b>, <b>MongoDB</b> and <b>AngularJS</b>. There is no secret with this app which:</p>
        <p>
          <ul>
            <li><b>Server-side:</b> Get data from database as a valid JSON providing an endpoint as a RESTful API.</li>
            <li><b>Client-side:</b> Look for an RESTful API valid to get a JSON with valid information about the costs of different types of fuel all over the country.</li>
          <b>
        </p>
        <p>
          <a class="btn btn-lg btn-primary" ng-href="/#/anp/data" role="button">Explore Data</a>
        </p>
      </div>

    </div>
</div>