<div class="container">

	<div ng-if="error">
	    <b>Ops!</b> Something is wrong here... :(
	</div>

	<div class="row">
		
		<div ng-repeat="data in datum">

			<h1>{{data.name}}</h1>
			<h2>From: {{data.dates.from | date:'yyyy/MM/dd'}} To: {{data.dates.to | date:'yyyy/MM/dd'}}</h2>

			<div ng-repeat="city in data.cities">

				<hr>
				
				<h3>{{city.name}}</h3>
			
				<table class="table table-bordered table-hover">
					<th width="200">Station</th>
					<th width="350">Flag</th>
					<th width="400">Address</th>
					<th>Area</th>
					<tr ng-repeat="stations in city.stations">
						<td>{{stations.name}}</td>
						<td>{{stations.flag}}</td>
						<td>{{stations.address}}</td>
						<td>{{stations.area}}</td>
					</tr>
				</table>

			</div>



		</div>
		
	</div>
</div>